body {
    margin: 0;
    padding: 0;
    background: #F9F9F9;
}


Button {
    background: #675b85;
    border: #675b85;
}

#main-wrapper{
    display:flex;
    width:100%;
}
aside, main {
    width: 50%;
    display: flex;
    align-items: center;
}

aside {
    display: flex;
    background: #a09abc;
    color: #F9F9F9;
    width: 25%;
    min-height: 100vh;
    justify-content: flex-end;
} h1 {
    font-size: 4em;
}

main {
    display: flex;
    background: #F9F9F9;
    color: #a09abc;
    min-height: 100vh;
    width: 100%;
    justify-content: flex-start;
}

.underground {
    font-size: 8em;
    padding-left: 1%;
}

.sign-log {
    transform: translate(-111px, 60px);
} a {
    color: #a09abc;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.2em;
    font-weight: 500;
} a:hover {
    color: #a09abc;
    text-decoration: none;
}

.the {
    padding-right: 4%;
}


section {
    position: relative;
    display: table-footer-group;
    /* width: 100%;
    height: 100vh;
    overflow: hidden; */
}

section .scroll {
    width: 100%;
    display: flex;
    transform: translate(10px, -30px);
}

section .scroll div {
    color: #a09abc;
    font-size:1em ;
    white-space: nowrap;
    font-weight: 900;
    text-transform: uppercase;
    /* animation: animate 10s linear infinite; */
}


@keyframes animate {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateY(-200%);
    }
}