.main-profile {
    position: fixed;
    padding-left: 100px; 
    margin-left: 6%;
    margin-top: 3%;
    padding: 4%;
    background: #eee;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
}

.main-profile h4 {
    margin-bottom: 2%;
    color: #333;
    font-weight: 100;
}

.post-list {
    list-style: none;
}