.main-profile {
    position: inherit;
    padding-left: 100px; 
    margin-left: 6%;
    margin-top: 3%;
    padding: 4%;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
}

.main-profile h4 {
    margin-bottom: 2%;
    font-weight: 100;
}

.post-list {
    list-style: none;
    
}

.link-posts {
    font-size: 17px;
}

.link-posts:hover {
    color: #706a94;
}
.col-md-4 {
   margin: 6% 8%;
    color: #504b6e;
    border-radius: 5px;
    padding: 2%;
    background: #f8f8f8;
    width: 800px;
}

.title-profile {
    color: #7a7499;
    font-size: 100px;
    padding: 4%;
    margin-bottom: 8%;
    border-radius: 5px;
}