
form {
    display: inline-block;
}

.container-sign {
    margin: 0 auto;
    background: #7ba6ad;
    color: #CFEBDF;
    padding: 0 15%;
    width: 100%;
    height: 700px;
}

.inputform {
    border: none;
    background: transparent;
    border-bottom: 1px solid #888;
}

.inputname {
    padding-right: 20px;
    min-width: 135px;
    font-size: 10px;
    font-weight: 100;
    text-transform: uppercase;
}
.join-form{
       width: 10%;
}
.genres {
    border: none;
    background: transparent;
}

h1 {
    font-size: 2.3em;
}

.already {
    transform: translate(0%, 60%);
} 

.link-login {
    color: #fff;
}

.juju {
    transform: translate(10px, 45px);
}

