.join-the {
    margin-top: 4%;
    font-size: 2em;
    text-align: center;
    color: #f9f9f9;
}

.sign-form{
    margin-top: 5%;
        color: #f9f9f9;
    margin-bottom: 5%;
}

.signup {
    border-radius: 10px;
    margin-top: 5%;
    background: #a09abc;
    padding-right: 5%;
}