.post-details {
    position: fixed;
}

.main-text {
   margin: 2%;
    background: #c8c1db;
    padding: 2%;
    border-radius: 5px;
    color: #F9F9F9;
}

.genre-typo {
    display: flex;
    font-size: 12px;
}

.genre-genre {
    margin-right: 2%
}

.main-image {
    margin: 2%;
    background: #c8c1db;
    padding: 2%;
    border-radius: 5px;
    color: #F9F9F9;
}

.buttons-post {
    margin-bottom: 2%;
}

.content-box{
    background: #F9F9F9;
    color: #000;
    padding: 2%;
    font-size: 15px;
    border-radius: 5px;
}

.boton {
    background: #675b85;
    border: #675b85;
    margin-left: 1%;
}

.boton:hover {
background: #675b85;
    border: #675b85;

}