

.main-text {
    text-align: center;
    margin: 3% 0;
}

.main-container {
       padding-top: 50px;
    padding-right: 100px;
    position: inherit;
    padding-left: 250px;
    width: 100vw;
}

.post-details {
   
}
.content-box {
    padding: 0 20%;
    text-align: justify;
    
} 

.genre-typo {
   display: inline-flex;
}

.genre-genre {
    margin-left: 15px
}

.main-image {
        text-align: center;
    margin: 2% 5%;
    /* background: #f9f9f9; */
    padding: 2%;
    border-radius: 15px;

}

.boton {
    background: #f0f0f0;
    margin-left: 1%;
    border: none;
    color: #675b85;
}

.boton:hover {
background: #675b85;
border: none;
    margin-left: 1%;
    color: #f9f9f9;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 650px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}