.main-nav{
    width:200px ; 
    display:flex;
    flex-direction:column;
    height:100vh;
    background-color:#a09abc;
    color:#F9F9F9; 
   
} .main-nav a {
    text-decoration: none;
    color: #F9F9F9;
        font-size: 22px;
}

.nav-items{
    margin-top: 50%;
}

.nav-items ul{
    list-style: none;
    width:100%;
    display:flex;
    flex-direction:column
}

.nav-items ul li{
    padding:10px;
    font-size:12px;
    color:#F9F9F9;
}

.logout {
    font-size: 15px;
}

.a-main {
    font-weight: 600;
}

.hi-username {
    margin-top: 20px;
    font-size: 20px;
}
