.main-nav{
   position: fixed;
    z-index: 1;
    padding: 8px 0;

} .main-nav a {
    text-decoration: none;
    color: #7a7499;
        font-size: 22px;
}

.nav-items{
    margin-top: 50%;
}

.nav-items ul{
    list-style: none;
    width:100%;
    display:flex;
    flex-direction:column
}

.nav-items ul li{
    padding:10px;
    font-size:12px;
}

.a-main {

}

.hi-username {
    margin-top: 20px;
    font-size: 20px;
    color: #7a7499;
}
