.post-details {
       position: fixed;
    padding-left: 100px;
    margin-left: 4%;
    margin-top: 2%;
    padding: 4%;
    background: #eee;
    width: 75%;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
}

.post-cover {
    width: 200px !important;
    border-radius: 5px !important;
}

.content-box {
    background: #fff;
    padding: 5%;
    border-radius: 5px;
}

.genre-typo {
background: white;
    margin-top: 4%;
    border-radius: 5px;
    width: 400px;
} 

.genre-typo li {
    list-style: none;
}