body {
    background: #eee;
}

form {
    display: inline-block;
}

.container {
    margin: 0 auto;
    background: #333;
    color: #fff;
    padding: 0% 15%;
}

.whitepen {
    width: 600px;
    transform: translate(400px, -100px);
}